<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDb
    </title>
    <style>
        .container{
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: rgb(81, 81, 81);
        display: flex;
        flex-direction: row;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 90%;
            align-items: start;
            justify-content: center;
            flex: 7;
        }
        .inp{
            width: 50%;
            border: 1px solid lightblue;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 10px;
            margin-left: 10px;
        }
        .users{
            width: 50%;
            height: 60%;
            background-color: aliceblue;
            flex:3;
            margin-top:130px;
            margin-right: 100px;
            overflow: scroll;
        }
        .userDetails{
            width: 80%;
            height: 150px;
            margin-left: 10px;
            border-radius:10px ;
            background-color: rgb(228, 152, 52);
            color: white;
            margin-bottom: 10px;
            padding-bottom: 5px;
        }
        button{
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(112, 248, 112);
            border: none;
            margin-left: 10px;
            color: black;
        }
        h1{
            color: rgb(236, 166, 166);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 10px;
        }
        h4{
            margin-bottom: 1px;
            margin-top: 1px;
        }
        .edit{
            text-align: start;
        }
        .delete{
               text-align: end;
              
        }
        .delete button{
            color: white;
            background-color: rgb(213, 96, 96);
        }
    </style>
</head>
<body>
    <div class="container">

       <form method = "POST" action="/add">
        <h1>Registration Form</h1>
           <input class="inp" type="text" name="name" placeholder="Enter Name" value="<%=name %>">
           <input class="inp" type="text" name="email" placeholder="Enter Email" value="<%= email %>">
           <input class="inp" type="text" name="phoneNumber" placeholder="Enter phone-number" value="<%= phone %>" >
           <textarea class="inp" id="" name="address" rows="4" cols="50" placeholder="address" value="<%= address %>">
            
            </textarea>
           <button type="submit">Add-User</button>
       </form>
       <div class="users">
           <h1>
               List of users.
           </h1>
           <% for(let i=0;i < users.length; i++){ %>
                 <div class="userDetails">
                     <div class="edit">
                         <button id="<%=users[i]._id%>" onclick="edit(this)">Edit</button>
                     </div>
                     <h4>Name : <%= users[i].name %></h4>
                     <h4>email : <%= users[i].email %></h4>
                     <h4>phone-number : <%= users[i].phonoNumber %></h4>
                     <h4>Address : <%= users[i].address %></h4>
                     <div class="delete">
                        <button id="<%=users[i]._id%>" onclick="del(this)">delete</button>
                    </div>
                </div>
            <% } %>
       </div>
    </div>
</body>
<script>
    function edit(element){
        location.href = `/edit/${element.id}`
    }
    function del(element){
        console.log("SF")
        location.href = `/delete/${element.id}`
    }
</script>
</html>
