<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .addinfo{
            width: 100%;
            height: 50px;
            background-color: #3197d1;
            color: white;
             display: flex;
             align-items: center;
        }
        .err{
            width: 100%;
            height: 50px;
            background-color: #f2dedd;
            color: #f47966;
            margin-bottom: 20px;
            display: flex;
             align-items: center;
        }
        .lab{
             display: block;

        }
        .input{
            width: 100%;
            border-radius: 10px;
            padding: 20px;
            border: 2px solid #dcdfe0;
            margin-bottom: 30px;
        }
        .btn{
            padding: 10px;
            border-radius: 5px;
            background-color: #3197d1;
            color: white;
            border: none;
        }
    </style>
</head>
<body>
   
   <div class="errors">
    <% if (errors.nameError) { %>
        <div class="err" > <%= errors.nameError %></div>
        <%}
        else { %>
            <div> </div>
        <% } %> 



            <% if (errors.emailError) { %>
                <div class="err" > <%= errors.emailError %></div>
                <%}
                else { %>
                    <div></div>
                    <% } %> 
   </div>
   <div class="addinfo">
    ADDInfo
        </div>
   <div class="form">
       <form method="POST" action="/add">
           <label class="lab" for="name">Name</label>
           <input class="input" type="text" name="name" id="">
           <label class="lab" for="email">Email</label>
           <input class="input" type="email" name="email" id="">
           <button class="btn" type="submit">Add-User</button>
       </form>
   </div>
</body>
</html>